.gachadp{
   display: flex;
   justify-content: center; 
   align-items: center;
   position: relative;
   left:100px;
}
.gacha{
   padding: 0px 10px; 
   /* background-color: green; */
   font-family:"HGS創英角ﾎﾟｯﾌﾟ体";
   font-size: 25px;
   position: relative;
   right: 120px;
   /* background-color: yellowgreen; */
   &:hover{
    cursor: pointer;
   }
   }


.dp{
    padding: 0px 10px; 
    font-family:"HGS創英角ﾎﾟｯﾌﾟ体";
    font-size: 25px;
    position: relative;
    bottom: 10px;
    /* background-color: yellowgreen; */
    &:hover{
      cursor: pointer;  
    }


}
.gacha span{
    background-color: rgb(217, 70, 70);
    border: solid 2px black;
    width: 34px;
    padding: 4px 15px;
    border-radius: 50%;
    height: 34px;
    position: relative;
    right: 200px;
}
.dp img{
 width: 40px;
 position: relative;
 right: 220px;
 top: 10px;
}
.gacha p:hover{
    cursor: pointer;
}




@media screen and (max-width:320px) {
    .gachadp{
   display: flex;
   justify-content: center;
   align-items: center;
}
.gacha{
   padding: 0px 10px; 
   /* background-color: green; */
   font-family:"HGS創英角ﾎﾟｯﾌﾟ体";
   font-size: 25px;
   position: relative;
   right: 120px;
   /* background-color: yellowgreen; */
   &:hover{
    cursor: pointer;
   }
   }


.dp{
    padding: 0px 10px; 
    font-family:"HGS創英角ﾎﾟｯﾌﾟ体";
    font-size: 25px;
    position: relative;
    bottom: 10px;
    /* background-color: yellowgreen; */
    &:hover{
      cursor: pointer;  
    }


}
.gacha span{
    background-color: rgb(2, 3, 3);
    border: solid 2px black;
    width: 34px;
    padding: 4px 15px;
    border-radius: 50%;
    height: 34px;
    position: relative;
    right: 200px;
}
.dp img{
 width: 40px;
 position: relative;
 right: 220px;
 top: 10px;
}
.gacha p:hover{
    cursor: pointer;
}
}