

/*div ここから*/
.fixwidth{
    overflow-x: hidden;
 }
 .div{
   width: 100%;
 }
 
 .onepieceimg1{
  width: 100%;
  border-radius: 20px;
  margin-top: 20px;
 }
 .onepieceimg2{
   width: 100%;
   border-radius: 20px;
   margin-top: 20px;
 }
 .onepieceimg3{
  width: 100%;
  border-radius: 20px;
  margin-top: 20px;
 }
 .onepieceimg4{
   width: 100%;
   border-radius: 20px;
   margin-top: 20px;
 }
 
 /* .div{
    width: 100%;
    position: relative;
    right: 10px;
 }
 .div1{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: auto;
 }
 .div2{
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .Div1{
    justify-content: center;
    justify-content: center ;
    align-items: center;
    position: relative;  
    right: 65px;
    top: 40px;
 }
 .Div2{
    justify-content: center;
    justify-content: center ;
    align-items: center;
    position: relative;  
    right: 65px;
    top: 100px;
 }
 
 .div1 img{
     position: relative; 
     left: 80px;
     width: 100%;
  }
  
  
 .div1,.div2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 
 
 .div1 img,.div2 img{
   width: 100%;
   border-radius: 30px;
   position: relative;
   right: 70px;
 } */
  
  
 /*div ここまで */
 
 /*span ここから*/
 .span1{
   display: inline-block;
   padding: 3px;
   position: relative;
   left: 20px;
 }
 .span2{
     display: inline-block;
     padding: 5px;
     position: relative;
     left: 100px;
   }
   .span3{
     display: inline-block;
     padding: 5px;
     position: relative;
     left: 0px;
   }
   .span4{
     display: inline-block;
     padding: 3px;
     position: relative;
     left: 30px;
   }
   
 .span1 .img1, .span1 .img2, .span1 .img3,
   .span1 .img6{
     display: block;
     width: 50px;
     padding: 0px;
     margin: 0;
     border-radius: 0;
  }
  .span1 .img4, .span1 .img5{
     display: block;
     width: 40px;
     padding: 0;
     margin: 0;
     border-radius: 0;
  }
  .span2 .img1,.span2 .img2,.span2 .img3,.span2 .img4,
  .span2 .img5,.span2 .img6{
   display: block;
   width: 50px;
   padding: 0px;
   margin: 0;
   border-radius: 0;
   position: relative;
   right: 100px;
  }

  .span3 .img1,.span3 .img2,.span3 .img3,.span3 .img4,
  .span3 .img5,.span3 .img6{
   display: block;
   width: 50px;
   padding: 0px;
   margin: 0;
   border-radius: 0;
   position: relative;
   right: 5px;
  }

  .span4 .img1,.span4 .img2,.span4 .img3,.span4 .img4,
  .span4 .img5,.span4 .img6{
   display: block;
   width: 50px;
   padding: 0px;
   margin: 0;
   border-radius: 0;
   position: relative;
   right: 25px;
  }







  
  
   
  /*span ここまで*/
  
  /*list ここから*/
  .list1 {
     display: flex;
     margin: 5px;
  }
  
  .list1 img{
     padding: 5px;
   }
 
  .list1 img, .list2 img{
    width: 6%;
    padding: 5px;
  }
  
  
  
  
 /*list ここまで*/
 
 /*button ここから*/
  .button1_1{
     position: relative;
     left: 60px;
     padding: 20px 55px;
     margin: 0 20px;
     background-color: rgb(79, 94, 79);
     border-radius: 10px;
     &:hover{
         cursor: pointer;
         background-color: rgb(81, 192, 209) ;
       }
  }
  .button1_2{
     position: relative;
     left: 60px;
     padding: 20px 50px;
     margin: 0 20px;
     background-color:  rgb(212, 59, 59);
     border-radius: 10px;
     &:hover{
         cursor: pointer;
         background-color: rgb(228, 168, 39) ;
       }
  }
  .button1_3{
    position: relative;
    left: 10px;
    top: 0px;
    padding: 20px 100px;
    /* margin: 0 5px; */
    background-color: rgb(212, 59, 59);
    border-radius: 10px;
    &:hover{
        cursor: pointer;
        background-color: rgb(228, 168, 39) ;
      }
 }
 
 
  .button1_1 span {
     font-size: 20px;
     font-family:"HGS創英角ﾎﾟｯﾌﾟ体";
  }
  .button1_2 span {
     font-size: 20px;
     font-family:"HGS創英角ﾎﾟｯﾌﾟ体";
  }
  .button1_3 span {
     font-size: 20px;
     font-family:"HGS創英角ﾎﾟｯﾌﾟ体";
  }
 
  
  .button1_1 .gacha{
     border: solid 2px black;
     width: 24px;
     height: 24px;
     border-radius: 50%;
     padding: 5px 14px;
     background-color: rgb(141, 178, 85);
     position: relative;
     right: 10px;
 }
  .button1_2 .gacha{
     border: solid 2px black;
     width: 24px;
     height: 24px;
     border-radius: 50%;
     padding: 5px 14px;
     background-color: rgb(141, 178, 85);
     position: relative;
     right: 10px;
 }
 .button1_3 .gacha{
    border: solid 2px black;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 5px 14px;
    background-color: rgb(141, 178, 85);
    position: relative;
    right: 30px;
 
 }
 
 
 .button{
     display: flex;
 }
 /*button ここまで*/

 .pokemonimg{
 position: relative;
 right: 120px;
 width: 100px;
}