.div {
  height: 100%;
}

.wrapper {
  animation: backgroundImg 3.5s 10.5s forwards;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url("../GachaImages/skyblue.png");
  background-repeat: no-repeat;
  height: 100vh;
}

.square {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 20px;
  padding: 40px;
  border-radius: 50%;
  position: relative;
  bottom: 480px;
  background-color: #1fd522;
  display: block;

}

.left_half {
  animation: splitLeft 1s 10s forwards;

  position: relative;
  width: 50px;
  /* 親要素の幅の半分 */
  height: 100px;
  /* 親要素と同じ高さ */
  background-color: #1fd522;
  left: 500px;
  bottom: 410px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.right_half {
  animation: splitRight 1s 10s forwards;

  position: relative;
  width: 50px;
  /* 親要素の幅の半分 */
  height: 100px;
  /* 親要素と同じ高さ */
  background-color: #1fd522;
  right: -500.1px;
  bottom: 410px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;

}

.left_half::before {
  animation: 0.1s buru 5.5s 35;
  display: block;
  content: "";
  width: 25px;
  height: 25px;
  top: 25px;
  left: 5px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 2;
  filter: blur(5px);
}

.right_half::after {
  animation: 0.1s buru 5.5s 35;
  display: block;
  content: "";
  width: 75px;
  height: 100px;
  top: 10px;
  right: 10px;
  position: absolute;
  filter: blur(12px);
  background-color: transparent;
  z-index: 1;
  box-shadow: inset -10px -10px 0 3px #400;
  border-radius: 40%;
}

.square::before {
  content: "";
}

.wrapper img {
  width: 400px;
}

.hittext {
  opacity: 0;
  /* background-color: orange; */
  color: rgb(228, 102, 23);
  letter-spacing: 15px;
  position: relative;
  left: 300px;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-weight: 800;
}

.hittextAnimation {
  animation: fadeup 3s ease-in-out forwards;
}

.misstext {
  opacity: 0;
  /* background-color: orange; */
  color: rgb(12, 123, 188);
  letter-spacing: 15px;
  position: relative;
  right: -20px;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-weight: 800;
}

.misstextAnimation {
  animation: fadeup 3s ease-in-out forwards;
}

.bigwintext {
  opacity: 0;
  /* background-color: orange; */
  color: gold;
  letter-spacing: 15px;
  position: relative;
  right: 300px;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-weight: 800;
}

.bigwintextAnimation {
  animation: fadeup 3s ease-in-out forwards;
}

@keyframes buru {
  0% {
    transform: translate(0px, 0px) rotateZ(0deg)
  }

  25% {
    transform: translate(2px, 2px) rotateZ(1deg)
  }

  50% {
    transform: translate(0px, 2px) rotateZ(0deg)
  }

  75% {
    transform: translate(2px, 0px) rotateZ(-1deg)
  }

  100% {
    transform: translate(0px, 0px) rotateZ(0deg)
  }

}

@keyframes splitLeft {
  0% {
    transform: translateX(0px) translateY(400px) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateX(-100px) translateY(400px) rotate(-45deg);
    /* 左方向に移動 */
    opacity: 0;
  }
}

@keyframes splitRight {
  0% {
    transform: translateX(0px) translateY(400px) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateX(100px) translateY(400px) rotate(45deg);
    /* 右方向に移動 */
    opacity: 0;
  }
}

@keyframes backgroundImg {
  0% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeup {
  0% {
    opacity: 0;
    transform: translateY(2em);
  }

  50% {
    opacity: 0.5;
    transform: translateY(-1em);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@media screen and (max-width:1024px) {

  .div {
    height: 100%;

  }

  .wrapper {
    /* animation: backgroundImg 3.5s 10.5s forwards; */

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../GachaImages/skyblue.png");
    background-repeat: no-repeat;

  }

  .square {}

  .left_half {
    animation: splitLeft 1s 10s forwards;
    justify-content: center;
    align-items: center;
    transform: translateX(1px) translateY(-370px);
    height: 45px;
    position: relative;
    width: 90px;
    background-color: #1fd522;
    padding: 20px;
    border-radius: 100px 0 0 100px;
  }

  .right_half {
    animation: splitRight 1s 10s forwards;
    background-color: #1fd522;
    justify-content: center;
    align-items: center;
    transform: translateX(-1px) translateY(-370px);
    height: 45px;
    position: relative;
    width: 90px;
    background-color: #1fd522;
    padding: 20px;
    border-radius: 0 100px 100px 0;

  }

  .left_half::before {
    animation: 0.1s buru 5.5s 35;
    display: block;
    content: "";
    width: 25px;
    height: 25px;
    top: 25px;
    left: 5px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    z-index: 2;
    filter: blur(5px);

  }

  .right_half::after {
    animation: 0.1s buru 5.5s 35;
    display: block;
    content: "";
    width: 75px;
    height: 100px;
    top: 10px;
    right: 10px;
    position: absolute;
    filter: blur(12px);
    background-color: transparent;
    z-index: 1;
    box-shadow: inset -10px -10px 0 3px #400;
    border-radius: 40%;

  }

  .square::before {
    content: "";
  }

  .wrapper img {
    width: 400px;
  }

  .hittext {
    opacity: 0;
    /* background-color: orange; */
    color: rgb(228, 102, 23);
    letter-spacing: 15px;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-weight: 800;
  }

  .hittextAnimation {
    animation: fadeup 3s ease-in-out forwards;
  }

  .misstext {
    opacity: 0;
    /* background-color: orange; */
    color: rgb(12, 123, 188);
    letter-spacing: 15px;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-weight: 800;
  }

  .misstextAnimation {
    animation: fadeup 3s ease-in-out forwards;
  }

  .bigwintext {
    opacity: 0;
    /* background-color: orange; */
    color: gold;
    letter-spacing: 15px;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-weight: 800;
  }

  .bigwintextAnimation {
    animation: fadeup 3s ease-in-out forwards;
  }

  @keyframes buru {
    0% {
      transform: translate(0px, 0px) rotateZ(0deg)
    }

    25% {
      transform: translate(2px, 2px) rotateZ(1deg)
    }

    50% {
      transform: translate(0px, 2px) rotateZ(0deg)
    }

    75% {
      transform: translate(2px, 0px) rotateZ(-1deg)
    }

    100% {
      transform: translate(0px, 0px) rotateZ(0deg)
    }

  }

  @keyframes splitLeft {
    0% {
      transform: translateX(0px) translateY(300px) rotate(0deg);
      opacity: 1;
    }

    100% {
      /* 左方向に移動 */
      transform: translateX(-100px) translateY(300px) rotate(-45deg);
      opacity: 0;
    }
  }

  @keyframes splitRight {
    0% {
      transform: translateX(0px) translateY(300px) rotate(0deg);
      opacity: 1;
    }

    100% {
      /* 右方向に移動 */
      transform: translateX(100px) translateY(300px) rotate(45deg);
      opacity: 0;
    }
  }

  @keyframes backgroundImg {
    0% {
      opacity: 1;
    }

    20% {
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    70% {
      opacity: 1;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes fadeup {
    0% {
      opacity: 0;
      /* transform: translateY(2em); */
      transform: translateY(200em);
    }

    50% {
      opacity: 0.5;
      /* transform: translateY(-1em); */
      transform: translateY(-100em);
    }

    100% {
      opacity: 1;
      transform: translateY(-200px);
    }
  }
}